@import "tailwindcss";

@font-face {
  font-family: 'Lalezar';
  src: url('/src/assets/fonts/Lalezar-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
    --color-sand: #F0DFC8;
    --color-creme: #FFF3E4;
    --color-ocean: #020087;
    --color-green: #9ED36F;
    --color-cyan: #6FC1D3;
    --color-red: #D36F6F;
    --color-purple: #CC6FD3;
    --color-yellow: #F4BC43;
    --color-gray: #A1A1A1;

    --font-lalezar: Lalezar, cursive;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}